<!DOCTYPE html>
<html>
<head>
  <title>SignPE Web</title>
</head>
<body>
  <h2>SignPE - Video Recognition</h2>
  <video id="video" width="640" height="480" autoplay></video>
  <br>
  <button onclick="startRecording()">Start Recording</button>
  <p id="status"></p>
  <button onclick="loadUsers()">Load Users</button>
  <div id="userList"></div>

  <script>
    let video = document.getElementById('video');
    let recording = false;
    let frameBuffer = [];
    let interval;

    navigator.mediaDevices.getUserMedia({ video: true })
      .then(stream => {
        video.srcObject = stream;
      });

    async function startRecording() {
      document.getElementById('status').innerText = "Recording will start...";
      recording = true;
      frameBuffer = [];

      setTimeout(() => {
        document.getElementById('status').innerText = "Recording...";
        interval = setInterval(captureFrame, 1000 / 1);
        setTimeout(stopRecording, 1000);
      }, 1000);
    }

    function captureFrame() {
      if (!recording) return;
      let canvas = document.createElement('canvas');
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      let context = canvas.getContext('2d');
      context.drawImage(video, 0, 0, canvas.width, canvas.height);
      let dataUrl = canvas.toDataURL('image/jpeg');
      frameBuffer.push(dataUrl);
    }

    async function stopRecording() {
      recording = false;
      clearInterval(interval);
      document.getElementById('status').innerText = "Sending frames...";

      const response = await fetch('/predict', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ frames: frameBuffer })
      });

      const data = await response.json();

      let statusText = `Prediction: ${data.label}<br><br>Probabilities:<br>`;
      for (const [label, percent] of Object.entries(data.confidence)) {
        statusText += `${label}: ${percent.toFixed(2)}%<br>`;
      }


      //document.getElementById('status').innerText = "Prediction: " + data.label;
      document.getElementById('status').innerHTML = statusText;

    }
    
    async function loadUsers() {
      const response = await fetch('/get_users');
      const users = await response.json();

      const userListDiv = document.getElementById('userList');
      userListDiv.innerHTML = "<h3>User List:</h3>";

      if (users.length === 0) {
        userListDiv.innerHTML += "<p>No users found.</p>";
        return;
      }

      const ul = document.createElement('ul');
      users.forEach(user => {
      const li = document.createElement('li');
      li.textContent = JSON.stringify(user);
      ul.appendChild(li);
    });

    userListDiv.appendChild(ul);
    }
    
  </script>
</body>
</html>
